/*styling root layout*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Patrick Hand','Open Sans', sans-serif, 'PT Sans', 'Times New Roman';
    color:white;
    font-weight:normal;     
}
/*website background image styling*/
body{
    height: auto;
    background-color: #15222e;
    background-position: center;
    color: whitesmoke;      
}
h2 {
    color: lightblue;
}
h5 {
    color: lightblue;
    font-size: 1em;
}
p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    font-weight: 100;
    text-decoration: none;
    margin: 15px;
}
/*nav bar syling*/
.nav-links {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding: 5px;
    font-weight: 400;
}
.nav-links a {
    color: whitesmoke;
    font-size: 1em;
    transition: all ease 0.5s;
}
.nav-links a:hover{
    border: solid  #dad2f7;
    border-radius: 15px;
    color: white;
    transform: scale(1.2);
}
/*heading of all pages*/
.headings {
    text-align: center;
    font-size: 1rem;
    display: block;
    letter-spacing: 0.1em;
}
/*styling for index/home.html page*/
.introduction {
    height: 90vh;
    margin: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.intro-text {
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 30px;
}
.intro-text h1{
    font-size: 3.5em;
    letter-spacing: 0.1em;
}
.intro-text h2 {
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 0.06em;
}
/*social media icons styling*/
.media-tags {                         
    width: 50%;
    height: auto;
    display: flex;
    align-items: center;
}
.media-tags a {
    width: 20px;
    margin: 10px;
    transition: all 0.3s linear;
}
.media-tags a:hover {
    transform: scale(1.2);
}

/*styling of about me page*/
.content {
    height: 100vh;
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
.content h3{
    font-size: 1.5em;
    font-weight: 500;
    margin-top: 10px;
}
.content img{
    border: 2px solid lightcyan;
    border-radius: 50%;
}
.content p {
    font-size: 15px;
    margin-top: 10px;
    text-align: left;
    background-color: rgb(4, 24, 31, 0.5);
}
/*styling for experience page*/
.card-exp{
    width: 70%;
    flex-wrap: wrap;
    margin: auto;
    padding: 10px;
    overflow: visible;
    text-align: center;
    font-size: 1em;
    box-shadow: 1px 5px 10px white;
    background-color: rgb(4, 24, 31, 0.5);
}
.card-exp img{
    border:2px solid white;
    height:auto;
    width: 99%;
}
.card-exp p {
    margin-top: 10px;
    display: list-item;
    list-style-position: inside;
    text-align: left;
   }
   .exp-icon{
    height: 48px;
    width: 48px;
    justify-content: center;
    display: inline-flex;
}
.resume {                              /*resume & button styling*/
    float: right;
    font-weight: 900;
    font-size: 1rem;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 15px;
    color: #f5f6fa;
    border: 2px solid;
    box-shadow: 0 10px 10px rgba(122, 88, 233, 0.3);
    transition: all 0.3s linear;
}
.resume:hover {
    transform: scale(1.1);
    background-color: whitesmoke;
    color: black;
    border-color: rgb(0, 217, 255);
    border-radius: 15px;
}
/*styling for blog page*/
.card{
    width: 95%;
    box-shadow: 1px 5px 10px white;
    flex-wrap: wrap;
    margin: auto;
    padding: 10px;
    overflow:visible;
    text-align: center;
    background-color: rgb(4, 24, 31, 0.5);
}
.card img {
    height:auto;
    width:90%;
}
.card img:hover {
    transform: rotateY(180deg);
}
.card :focus {
    outline: none;
   
}
.paragraph{
    width:70%;
}
.card p {
    text-align: justify;
}
.card figcaption {
    text-align: center;
    display:block;
}
#blog-summary{
    color:#ee6d8f;
}
@media only screen and (min-width: 600px) {
    .media-tags {                                   /*home page responsive*/
        justify-content: flex-end;
    }
    .introduction {
        flex-direction: column-reverse;             
        justify-content: flex-end;
    }
    .content {
        height:100vh;
    }
}
@media only screen and (min-width: 800px) {
   .card figure{                                      /*styling blog page @min-width 800px*/
      float:left ;                 
      width: 30%
    }
     .card p {
        text-align: center;
    } 
      .card img {
        max-width: 100%;
        min-width: 25%;
        float:left;
        border: solid 1px white;
        }
        main{
            display:flex;
            flex-direction: column;
            justify-content: center;
            } 
    .card {
        display: inline-block;
        width: 70%;         
    }
       .card-exp figure{                                   /*styling experience page @min-width 800px*/
        float: left;
        width: 30%;        
      }
      .card-exp img {
        display: block;
        margin: auto;
        float:left;
        border: solid 1px white;
        }
        .card-exp figcaption {
            text-align: center;
            width: 25%;
        }
      .card-exp {
          display: inline-block;         
      }
      .card-exp p {
          display: list-item;
          list-style-position: inside;
          text-align: left;          
          min-width: 50%;
          max-width: 100%;
          font-size: 15px;
    }
}