*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
 

header {
    width: 100%;
    height: 10vh;
    background-color: rgb(0,0,0,0.1);
}
.nav-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding-top: 2em;
}
.nav-link {
    color: black;
    font-size: 22px;
    text-decoration: none;
    transition: all ease 0.5s;
}
.nav-link:hover{
    background-color: #a290d1; 
}

.hero-img {
    height: 100vh;
    background-image: url("images/background_img2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
} 

.hero-img-exp {
    height: auto;
    background-image: url("images/background_img2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
} 
.introduction {
    height: 90vh;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    color: purple; 
}
.intro-text {
    width:90%;
    height: 70vh;
}
.intro-text h1{
    font-size: 40px;
    font-style: italic;
    padding: 10px 10px;
}
.intro-text h3 {
    font-size:35px;
}
.media-tags {
    width: 90%;
    height: 20vh;
    font-size: xxx-large;
    display: flex;
    justify-content: center;
}
.media-tags a {
    height: 100px;
    width: 100px;
    background-color: #f5f6fa;
    border-radius: 50px;
    margin: 20px;
    box-shadow: 1px 4px 2px 2px #dbd7da;
    text-align: center;
    line-height: 110px; 
}
.media-tags a i {
    transition: all 0.3s linear;
}
.media-tags a:hover i{
    transform: scale(1.4);
}
.button1 {
    float:right;
    font-weight: 900;
    font-size: 22px;
    text-align: center;
    padding: 12px 25px;
    cursor: pointer;
    border-radius: 5px;
    display: inline-block;
    margin-right: 50px;
    color: #f5f6fa;
    background-image: linear-gradient(to right, #d8b7d1 10%,#c1b1df 80%);
    border: 2px solid;
    box-shadow: 0 10px 30px rgba(122, 88, 233, 0.3);
}

.card-exp{
    height: auto;
    width: 99%;
    flex-wrap: wrap;
    margin: 0px;
    padding: 10px;
    overflow:hidden;
    text-align: center;

}
.card-exp p {
    display: block;
    float: none;
    color: black;
    font-weight: 700;
    background-color: whitesmoke; 
}
.card{
    height: auto;
    width: 99%;
    border: 2px solid white;
    flex-wrap: wrap;
    margin: 0px;
    padding: 10px;
    overflow:visible;
    text-align: center;
    background: linear-gradient(288deg, rgba(238,174,202) 40%, rgba(148,178,233,0.036852240896358524) 100%);
}
.card img {
    height: 99%;
    max-width: 99%;
    display: block;
    margin: auto;
    float:none;
}
.card p {
    display: block;
    float: none;
    color: purple;
    font-weight: 700; 
}
.card figcaption {
    text-align: center;
    display:block;
    color: purple; 
}
.headings {
    text-align: center;
    font-size: 1.5em;
    display: block;
    color: purple;

}
/*about page css styling*/
.headings-about {
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    display: block;
    color: purple;
    display: inline-flex;
    justify-content: center;
} 
.headings-exp {
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    display: block;
    color: purple;
    display: inline-flex;
    justify-content: center;
}

.content {
    height: 90vh;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    color: purple; 
}
.content h3{
    font-size: 1.5em;
}
.img{
    border-radius: 5px;
}
.content p {
    border: 2px solid grey;
    border-radius: 10px;
    font-weight: 600;
    background-color: rgb(255, 255, 255, 0.5);
}
/*about me styling ends*/
    

@media only screen and (min-width: 600px) {
    .media-tags {
        justify-content: flex-end;
    }
    .introduction {
        flex-direction: column-reverse;
        justify-content: flex-end;
    }


}
@media only screen and (min-width: 800px) {
    .card figure{
      float:left ;
            img {
            height: 99%;
            max-width: 50%;
            min-width: 25%;
            display: block;
            margin: auto;
            float:left;
            outline: solid 1px black;
            }
            figcaption {
                text-align: center;
                width: 25%;
            }
    }
    .card
    {
        display: inline-block;
       
    }
    .card p {
        display: contents;
        float: left;
        color: purple;
        font-weight: 700;
        min-width: 50%;
        max-width: 100%;
    }

    .card-exp figure{
        float: left;
           img {
              height: 99%;
              max-width: 10%;
              min-width: 10%;
              display: block;
              margin: auto;
              float:left;
              outline: solid 1px black;
              }
              figcaption {
                  text-align: center;
                  width: 25%;
              }
      }
      .card-exp
      {
          display: inline-block;
         
      }
      .card-exp p {
          display: contents;
          float: left;
          background-color: whitesmoke; 
          color: black;
          font-weight: 700;
          min-width: 50%;
          max-width: 100%;
      }
  







  /* .card img {
    height: 99%;
    max-width: 50%;
    min-width: 25%;
    display: block;
    margin: auto;
    float:left;
    outline: solid 1px black;

   }
   .card figcaption {
     text-align: center;
     width: 25%;

  } */

}





