/*styling root layout*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    
}
/*styling of header*/
header {
    width: 100%;
    height: 10vh;
    background-color:white;
}
/*nav bar syling*/
.nav-links {
    color: whitesmoke;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding-top: 2em;
}
.nav-link {
    color: whitesmoke;
    font-size: 22px;
    text-decoration: none;
    transition: all ease 0.5s;
}
.nav-link:hover{
    background-color:white; 
    border: yellow;
    border-radius: 1em;
    color: black;
}
/*website background image styling*/
.hero-img {
    height: auto;
    background-image: url("images/background_img_stars.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    background-color: black;
    color: whitesmoke;
}
/*styling for index/home.html page*/
.introduction {
    height: 90vh;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    color: whitesmoke; 
}
.intro-text {
    width:90%;
    height: 70vh;
}
.intro-text h1{
    font-size: 40px;
    font-style: italic;
    padding: 10px 10px;
}
.intro-text h3 {
    font-size:35px;
}
/*social media icons styling*/
.media-tags {
    width: 90%;
    height: 20vh;
    font-size: 2em;
    display: flex;
    justify-content: center;
}
.media-tags a {
    height: 100px;
    width: 100px;
    background-color: #f5f6fa;
    border-radius: 50px;
    margin: 20px;
    box-shadow: 1px 4px 2px 2px #dbd7da;
    text-align: center;
    line-height: 110px; 
}
.media-tags a i {
    transition: all 0.3s linear;
}
.media-tags a:hover i{
    transform: scale(1.4);
}
/*heading of about.html and blog.html*/
.headings {
    text-align: center;
    font-size: 1.5em;
    display: block;
    color: whitesmoke;
}
/*styling of about me page*/
.content {
    height: 90vh;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    color: whitesmoke; 
}
.content h3{
    font-size: 1.5em;
    margin-top: 10px;
}
.content img{
    border: 2px solid white;
    border-radius: 25px;
}
.content p {
    border: 2px solid white;
    border-radius: 10px;
    font-weight: 600;
    font-size: 1em;
    margin-top: 10px;
}
/*background image styling for Experience.html page*/ 
.hero-img-exp {
    height: auto;
    background-image: url("images/background_img_stars.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    background-color: black;
    color: whitesmoke;
}
/*heading of experience.html*/
.headings-exp {
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    display: block;
    color: whitesmoke;
    display: inline-flex;
    justify-content: center;
} 
/*resume button styling*/
.button {
    float: right;
    font-weight: 900;
    font-size: 22px;
    text-align: center;
    padding: 12px 25px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 50px;
    color: #f5f6fa;
    border: 2px solid;
    box-shadow: 0 10px 30px rgba(122, 88, 233, 0.3);
}
.button:hover {
    transform: scale(1.4);
    color: whitesmoke;
}
/*styling for experience page*/
.card-exp{
    height: auto;
    width: 99%;
    flex-wrap: wrap;
    margin: 0px;
    padding: 10px;
    overflow:hidden;
    text-align: center;
    font-size: 1em;
}
.card-exp p {
    display: block;
    float: none;
    color: whitesmoke;
    font-weight: 600;
}
/*styling for blog page*/
.card{
    height: auto;
    width: 99%;
    border: 2px solid white;
    flex-wrap: wrap;
    margin: 0px;
    padding: 10px;
    overflow:visible;
    text-align: center;
}
.card img {
    height: 99%;
    max-width: 99%;
    display: block;
    margin: auto;
    float:none;
}
.card p {
    display: block;
    float: none;
    color: whitesmoke;
    font-weight: 700; 
}
.card figcaption {
    text-align: center;
    display:block;
    color: whitesmoke; 
}
@media only screen and (min-width: 600px) {
    .media-tags {                                   /*home page responsive*/
        justify-content: flex-end;
    }
    .introduction {
        flex-direction: column-reverse;             
        justify-content: flex-end;
    }
}
@media only screen and (min-width: 800px) {
    .content p {                                                  /*syling about me page @min-width 800px*/
        font-size: 1.5em;               
    }
    .content img{
        width:300px;
        height: 300px;
    }
    .card figure{                                      /*syling blog page @min-width 800px*/
      float:left ;
                 
    }
    .card figcaption {
        text-align: center;
        width: 25%;
    }
   .card img {
        height: 99%;
        max-width: 100%;
        min-width: 25%;
        display: block;
        margin: auto;
        float:left;
        border: solid 1px white;
        }
    .card {
        display: inline-block;       
    }
    .card p {
        display: contents;
        float: left;
        color: whitesmoke;
        font-weight: 700;
        min-width: 50%;
        max-width: 100%;
        font-size: 1.5em;
    }
    .card-exp figure{                                   /*styling experience page @min-width 800px*/
        float: left;      
      }
      .card-exp img {
        height: 99%;
        max-width: 90%;
        min-width: 10%;
        display: block;
        margin: auto;
        float:left;
        border: solid 1px white;
        }
        .card-exp figcaption {
            text-align: center;
            width: 25%;
        }
      .card-exp {
          display: inline-block;         
      }
      .card-exp p {
          display: contents;
          float: left;
          color: whitesmoke;
          font-weight: 700;
          min-width: 50%;
          max-width: 100%;
          font-size: 1.5em;
      }
    }